.form-group {
  margin-bottom: 0;
  padding: 0 0 2em 0;
  .help-inline {
    font-size: 0.8em;
    margin-left: 1em;
    color: $brand-primary;
    position: absolute;
    margin-top: 0.4em;
  }
  input.form-control {
    height: 2.3em;
    font-size: 20px;
  }
}
